[submodule "components/lobaro-coap/lobaro-coap"]
	path = components/lobaro-coap/lobaro-coap
	url = https://github.com/lobaro/lobaro-coap
[submodule "components/json/json"]
	branch = master
	path = components/json/json
	url = https://github.com/nlohmann/json
