#
# IoTNode Configuration
#
CONFIG_IOTNODE_HOSTNAME="IoTNode"
CONFIG_IOTNODE_MODEL="ESP32-Prototype"
CONFIG_IOTNODE_PLATFORM_UUID="06d1d358-5768-4556-943e-492c8093547a"
CONFIG_IOTNODE_MANUFACTURER_NAME="Roman Vaughan (NZSmartie)"
CONFIG_IOTNODE_MANUFACTURER_URL="https://github.com/NZSmartie"

#
# Compiler options
#
CONFIG_OPTIMIZATION_LEVEL_DEBUG=y
CONFIG_OPTIMIZATION_ASSERTIONS_ENABLED=y

#
# ESP32-specific
#
CONFIG_CONSOLE_UART_BAUDRATE=115200
