# Copy this file and remove the .example from the filename
# Edit this file to include sensitive strings that you do not want to commit by mistake 

# Wifi Details
WIFI_SSID=Test Access Point
WIFI_PASSWORD=Passw0rd!